body {
    overflow-x: hidden;
    font-family: "Montserrat", sans-serif;
}

/* Navbar */

.navbar {
    background-color: transparent;
}

.fa-globe-americas {
    color: #ffc107;
}

.nav-link {
    color: #F5F5F5; 
    font-weight: 600;
    font-size: 1.2rem;
}

.nav-link:hover {
    color: #fff;
    border-bottom: 2px solid #d3d3d3;
}

/* Landing page */

#landing-page {
    height: 100vh;
    background: linear-gradient(to bottom, rgba(0, 0, 0, -0.75) 100%, #000000 100%), url("../images/plane.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* Sign up page */

 #sign-up-page {
    height: 100vh;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 100%, #000000 100%), url("../images/island.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
 }

 .form-style {
    width: 18rem; 
    margin-top: 2%;
 }

 /* Sign in page */

 .sign-in-page {
    height: 100vh;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.25) 100%, #000000 100%), url("../images/cuba.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
 }

 .sign-in-heading {
     color: #F5F5F5;
     font-weight: 600;
 }



/* Explore page */

#red-list {
    display: none;
    margin: 2% 6%;
}

#red-list .list-item {
    margin: 1% 3%;
    border-bottom: 0.25px solid #d3d3d3;
    border-right: 0.25px solid #d3d3d3;
}

#amber-list {
    display: none;
    margin: 2% 6%;
}

#amber-list .list-item {
    margin: 1% 3%;
    border-bottom: 0.25px solid #d3d3d3;
    border-right: 0.25px solid #d3d3d3;
}

#green-list {
    display: none;
    margin: 2% 6%;
}

#green-list .list-item {
    margin: 1% 3%;
    border-bottom: 0.25px solid #d3d3d3;
    border-right: 0.25px solid #d3d3d3;
}

.explore-jumbotron {
    height: 70vh;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 100%, #000000 100%), url("../images/mountains.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.explore-heading {
    margin-top: 7%;
    margin-left: 10%;
    font-size: 5rem;
    font-weight: 600;
    color: #fff;
}

.button-row {
    justify-content: center;
    margin-top: -4%;
}

/* Profile page */

.profile-page {
    height: 100vh;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 100%, #000000 100%), url("../images/venice.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.user-info {
    margin-top: 20vh;
    color: #fff;
    font-weight: 700;
}


.down-icon i {
    margin-top: 6%;
    color: #d3d3d3;
}

.down-icon i:hover{
    color: #fff;
}


.white-container {
    background-color: #fff;
    margin-top: 50vh;
}

.recommended-list-item {
    height: 350px;
    width: 350px;
    background-image: url("../images/island.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: brightness(80%);
    color: #fff;
    font-size: 2rem;
    font-weight: 500;
}

.recommended-list-item:hover {
    font-weight: 700;
    filter: brightness(100%);
}

/* #username-form {
    display: none;
} */


/* Media queries for mobile */

@media (max-width: 576px) { 
    .explore-heading {
        text-align: center!important;
        margin: 15% 0 0 0;
    }

    .button-row {
       margin-top: -6%;
    }
}