{{username}}
  <button id="username-toggle">Edit Username</button>
  <form action="/profile/edit/username" method="post" id="username-form">
  <input class="rounded" type="text" placeholder="Enter new username" name="username" required>
  <button type="submit" class="btn">Change</button>
  </form>


<div class="m-b-25"> <img src="{{url}}" class="img-radius" alt="User-Profile-Image"> </div>
<a class="edit-pic" href='https://en.gravatar.com/'>Edit Picture</a>

<h6>{{vaccination_status}}</h6>
<form action="/profile/edit/vaccination" method="post" id="vax-status">
<label for="vaccine_status">Edit vaccine status:</label>
  <select name="vaccination_status">
    <option value="Unvaccinated">Unvaccinated</option>
    <option value="Vaccinated">Vaccinated</option>
  </select>
  <input type="submit" value="Submit">
</form>
