<div class="edit-profile-page">

  <!-- Navigation-->
    <nav class="navbar navbar-expand-lg px-5 d-print">
      <a class="navbar-brand" href="/">
          <i class="fad fa-globe-americas fa-2x"></i>
      </a>
      <button class="navbar-toggler navbar-dark" type="button" data-bs-toggle="collapse" data-target="#navbarNavAltMarkup" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse px-1" id="navbarSupportedContent">
        <ul class="navbar-nav align-items-center">
          <li class="nav-item">
              <a class="nav-link" href="/explore">Explore</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Profile </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li> <a class="dropdown-item" href="/profile">My Profile <i class="fa fa-user-circle" aria-hidden="true"></i> </a> </li>
              <li> <hr class="dropdown-divider"> </li>
              <li> <a class="dropdown-item" href="/profile/edit"> Edit Profile <i class="fas fa-pencil-alt fa-1x"></i></a></li>
              <li> <hr class="dropdown-divider"> </li>
              <li> <a class="dropdown-item" href="/profile/#main-user-section">Inspiration <i class="fa fa-paper-plane" aria-hidden="true"></i> </a> </li>
              <li> <hr class="dropdown-divider"> </li>
              <li> <a class="dropdown-item" href="/profile/#fav-country-form">Favourites <i class="fa fa-heart" aria-hidden="true"></i> </a> </li>
              <li> <hr class="dropdown-divider"> </li>
              <li>
                <form action="/sessions/end" method="post"> 
                  <button class="dropdown-item btn-danger" href="#">Sign Out <i class="fa fa-sign-out" aria-hidden="true"></i> </button> 
                </form>
              </li>  
            </ul>
          </li>
        </ul>
      </div>
    </nav>

  {{!-- mt-3 --}}

  <div class= "user-info">

    <div class= "edit-card card mx-auto" style="width: 30rem;">
      <div class= "edit-username mt-5">
        
        <div class= "user-info-edit mb-2"> {{username}} </div>

        
        {{!-- <button id="username-toggle">Edit Username</button> --}}
        <form action="/profile/edit/username" method="post" id="username-form">
        <input class="rounded" type="text" placeholder="Enter new username" name="username" required>
        <button type="submit" class="btn btn-success">Change</button>
        </form>
      </div>
      

      <div class= "edit-profile-picture mt-3">
        <div class="m-b-25 mb-3"> <img src="{{url}}" class="img-radius" alt="User-Profile-Image"> </div>
        <div class="editpic">
          <a href='https://en.gravatar.com/' target="_blank" ><button type="button" class="btn btn-outline-warning edit-pic">Edit Picture </button></a>
        </div>
      </div>

      
      <div class= "edit-vaccination-status mt-4 mb-5">
          <div class= "vax-info-edit mb-2"> {{vaccination_status}} </div>
      
          <form action="/profile/edit/vaccination" method="post" id="vax-status">
          <label class = "editstatus" for="vaccine_status">Edit vaccine status:</label>
          <select name="vaccination_status">
            <option value="Unvaccinated">Unvaccinated</option>
            <option value="Vaccinated">Vaccinated</option>
          </select>
          <button type="submit" class="btn btn-success" value="Submit">Change</button>
          </form>
      </div>
    </div>

  </div>

</div>
