<div id="landing-page">
  <form method="get" action="/signup">
    <button btn-outline-danger type="submit">Sign Up</button>
  </form>

  <form method="get" action="/sessions">
      <button btn-outline-danger type="submit">Sign In</button>
  </form>

</div>