<form id="fav-country-form" action="/profile" method="post">
  <label for="fav-country"> Select your favorite country</label>
  <input id="fav-country" type="text" name="fave-country" value="">
  <input type="submit" value="Add">
</form>


<div class="dropdown">
  <button onclick="myFunction()" class="dropbtn">Dropdown</button>
  <div id="myDropdown" class="dropdown-content">
    <a href="#">Link 1</a>
    <a href="#">Link 2</a>
    <a href="#">Link 3</a>
  </div>
</div>
