<h1>Destinations recommended for you</h1>

<h2>You have been vaccinated, go here:</h2>
<ul>
{{#each vaxList}}
    <li>{{this}}</li>
{{/each}}
</ul>

<h2>You are unvaccinated, go here:</h2>
<ul>
{{#each unvaxList}}
    <li>{{this}}</li>
{{/each}}
</ul>