<h1>Destinations recommended for you</h1>

<h2>You have been vaccinated, go here:</h2>
<ul id="recommended-list">
{{#each vaxList}}
    <li class="recommended-list-item">{{this}}</li>
{{/each}}
    <li><h2>You are unvaccinated, go here:</h2></li>
{{#each unvaxList}}
    <li class="recommended-list-item">{{this}}</li>
{{/each}}
</ul>
