<h1>Destinations recommended for you</h1>


{{#if vaxStatus}}
<div class="recommended-list">
    <h3>You have been vaccinated, go here:</h3>
    {{#each vaxList}}
        <div class="recommended-list-item">{{this}}</div>
    {{/each}}
</ul>
{{else}}
<div class="recommended-list">
    <h3>You are unvaccinated, go here:</h3>
    {{#each unvaxList}}
        <div class="recommended-list-item">{{this}}</div>
    {{/each}}
</div>
{{/if}}

