<form id="fav-country-form" action="/addCountry" method="post">
  <label for="fav-country">Select your favorite country</label>
  <select name="country" size="10">
    {{#each country_list}}
      <option value="{{this}}">{{this}}</option>
    {{/each}}
  </select>
  <input type="submit" value="Submit">
</form>
<h2>Users currently selected favorite countries</h2>
{{fav_countries}}
