<div class="sign-in-page">

  <!-- Navigation-->
    <nav class="navbar navbar-expand-lg px-5 d-print">
      <a class="navbar-brand" href="/">
          <i class="fad fa-globe-americas fa-2x"></i>
      </a>
      <button class="navbar-toggler navbar-dark" type="button" data-bs-toggle="collapse" data-target="#navbarNavAltMarkup" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse px-1" id="navbarSupportedContent">
        <ul class="navbar-nav align-items-center">
          <li class="nav-item">
              <a class="nav-link" href="/explore">Explore</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/signup">Sign Up</a>
          </li>
          {{#if isSignedIn}} 
            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Profile </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li> <a class="dropdown-item" href="/profile">My Profile <i class="fa fa-user-circle" aria-hidden="true"></i> </a> </li>
              <li> <hr class="dropdown-divider"> </li>
              <li> <a class="dropdown-item" href="/profile/edit"> Edit Profile <i class="fas fa-pencil-alt fa-1x"></i></a></li>
              <li> <hr class="dropdown-divider"> </li>
              <li> <a class="dropdown-item" href="/profile/#main-user-section">Inspiration <i class="fa fa-paper-plane" aria-hidden="true"></i> </a> </li>
              <li> <hr class="dropdown-divider"> </li>
              <li> <a class="dropdown-item" href="/profile/#fav-country-form">Favourites <i class="fa fa-heart" aria-hidden="true"></i> </a> </li>
              <li> <hr class="dropdown-divider"> </li>
              <li>
                <form action="/sessions/end" method="post"> 
                  <button class="dropdown-item btn-danger" href="#">Sign Out <i class="fa fa-sign-out" aria-hidden="true"></i> </button> 
                </form>
              </li>  
            </ul>
          </li>
          {{/if}} 
        </ul>
      </div>
    </nav>

  <h3 class="mt-4 sign-in-heading">Welcome!</h3>

  <div class="d-flex justify-content-center mt-4">
    <div class="form-style shadow p-5 rounded card">
      <form id='sign-in-form' action='/sessions/new' method='post'>
        <input type='text' name='username' placeholder='username' class='mt-3 p-2' required>
        <input type='password' name='password' placeholder='password' class='mt-3 p-2' required>
        <input type='submit' value='Submit' class='btn btn-outline-danger mt-3 p-2'>  
      </form>
    </div>
  </div>
</div>
